<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.MasterDataManagementConnectionString"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=MasterDataManagement;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.MasterDataManagementConnectionString1"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=MasterDataManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>